# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [5]:
CREATE TABLE JunkDB_KC.Dayra.planned_makes (
    conditioner_id SMALLINT PRIMARY KEY IDENTITY (1,1),
    name_id varchar (50) NOT NULL,
    manufacturer varchar (50) NOT NULL,
    store varchar (50) NOT NULL,
    website varchar (50) NOT NULL,
    property VARCHAR (50),
    );

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'planned_makes' in the database.

Add three rows to your table that are your planned makes (

In [6]:
INSERT INTO JunkDB_KC.Dayra.planned_makes
(name_id, manufacturer, store, website, property)
VALUES
('Pink_Lotion', 'Revlon','Walmart', 'Walmart.com','moisturizer'),
('Hair_Insurance', 'Aussie', 'Tartet', 'Target.com', 'moisturizer'),
('Turbulence', 'Maybelline', 'Target', 'Target.com', 'oil');

: Msg 207, Level 16, State 1, Line 1
Invalid column name 'name_id'.

: Msg 207, Level 16, State 1, Line 1
Invalid column name 'property'.

: Msg 207, Level 16, State 1, Line 1
Invalid column name 'name_id'.

: Msg 207, Level 16, State 1, Line 1
Invalid column name 'property'.

In [9]:
SELECT TOP 3 * FROM JunkDB_KC.Dayra.planned_makes;

## Update a Row

Change different values in one of your three rows.

In [3]:
UPDATE JunkDB_KC.Dayra.planned_makes
SET name_id = 'Pink Cream'
SET store = 'TJMax'
WHERE conditioner_id = 2;

: Msg 102, Level 15, State 1, Line 3
Incorrect syntax near '='.

In [ ]:
SELECT TOP 3 * FROM JunkDB_KC.Dayra.planned_makes;

## Delete a Row

Delete one of the rows from your table.

In [10]:
DELETE FROM JunkDB_KC.Dayra.planned_makes
WHERE conditioner_id = 3;

## Drop the Table

While this has been fun, it is time to drop the table!

In [11]:
DROP TABLE JunkDB_KC.Dayra.planned_makes;